ul {
    list-style-type: none;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover:not(.active) {
    background-color: #FF5733;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #FF5733;
    color: white;
    font-weight: bold;
}

.active2 {
  float:right;
    background-color: #FF5733;
    color: white;
    font-weight: bold;
}

.active3 {
  float:right;
    background-color: #FF5733;
    color: white;
    font-weight: bold;
    margin-left:0px;
}

body {
    margin: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  padding: 20px;
}
h1{
  color: #FF5733;
  padding: 15px;
}

#titleHeader {
  font-weight: bold;
}

h1 {
  font-size: 40;
  text-shadow: 2px 2px #000000;
  text-align:center;
}
form{
 text-align:center;
 font-size:30;
}