body {
    background-image: url("../images/sunflower.gif");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
.active {
    background-color: #FF5733;
    color: white;
    font-weight: bold;
  }

.button {
  background-color: #008CBA;;
  border: none;
  color: white;
  padding: 14px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  margin-left: 40%;

}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

.button2 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

